@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}
html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
}

#root {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
}
